/* CSS Dropdowns */
.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	div, ul {
		width: $drop-menu-width;
	}
	//layout stuff
	li {
		position: relative;
		display: inline-block;
		float: left;
		&:hover, &.hover {
			z-index: 1;
		}
		li {
			display: block;
			float: none;
		}
		a {
			display: block;
		}
	}
	div ul {
		position: static;
		left: 0;
		padding: 0;
		background: none;
		opacity: 1;
	}
	li {
		&:hover, &.hover {
			> ul, > div {
				top: auto;
				left: 0;
				height: auto;
				opacity: 1;
			}
			&.right {
				ul, div {
					right: 0;
					left: auto;
				}
				li:hover ul, li.hover ul {
					right: $drop-menu-width;
				}
			}
		}
		//child menus
		li:hover, li.hover {
			ul {
				top: 0;
				left: $drop-menu-width;
			}
		}
	}
	ul, div {
		position: absolute;
		left: -9999px;
		top: 0;
		opacity: 0;
	}
	&.fade {
		ul, div, li:hover ul ul, li.hover ul ul {
			@include transition(opacity .2s linear);
		}
	}
	li.hover ul li.hover ul ul, li:hover ul li:hover ul ul {
		position: static;
		left: 0;
	}
}
.nav.vertical {
	height: auto;
	> li {
		display: block;
		float: none;
		width: $drop-menu-width-vertical;
		&:hover, &.hover {
			> ul, > div {
				top: 0;
				left: $drop-menu-width-vertical;
			}
		}
	}
	&.vertical li:hover ul ul ul, &.vertical li.hover ul ul ul, div ul {
		position: static;
		left: 0;
	}
}