/*
 * Colors
 */ 

$color1: red;
$color2: green;
$color3: blue;

/*
 * Typography
 */

$font-main: Tahoma, Verdana, Segoe, sans-serif;
// If using Open Sans via Google Fonts, uncomment line below
//$mainFont: 'Open Sans', sans-serif;
// NOTE: Use font-weight: 700; and font-weight: 400; instead of "bold" and "normal".

$font-monospace: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$drop-menu-width: 250px;
$drop-menu-width-vertical: 200px;